<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="eclipse_object_calisthenics_analyzer.commands.category">
      </category>
      <command
            name="Sample Command"
            categoryId="eclipse_object_calisthenics_analyzer.commands.category"
            id="eclipse_object_calisthenics_analyzer.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="eclipse_object_calisthenics_analyzer.commands.sampleCommand"
            class="com.chairbender.eclipse.object_calisthenics_analyzer.ObjectCalisthenicsAnalyzerHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="eclipse_object_calisthenics_analyzer.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Sample Menu"
               mnemonic="M"
               id="eclipse_object_calisthenics_analyzer.menus.sampleMenu">
            <command
                  commandId="eclipse_object_calisthenics_analyzer.commands.sampleCommand"
                  mnemonic="S"
                  id="eclipse_object_calisthenics_analyzer.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="eclipse_object_calisthenics_analyzer.toolbars.sampleToolbar">
            <command
                  commandId="eclipse_object_calisthenics_analyzer.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="eclipse_object_calisthenics_analyzer.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="eclipse_object_calisthenics_analyzer"
            name="Calisthenics View">
      </category>
      <view
            category="eclipse_object_calisthenics_analyzer"
            class="com.chairbender.eclipse.object_calisthenics_analyzer.views.CalisthenicsView"
            icon="icons/sample.gif"
            id="com.chairbender.eclipse.object_calisthenics_analyzer.views.CalisthenicsView"
            name="Calisthenics">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.chairbender.eclipse.object_calisthenics_analyzer.views.CalisthenicsView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
