<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Analyze"
            categoryId="eclipse_object_calisthenics_analyzer.commands.analyze"
            id="eclipse_object_calisthenics_analyzer.commands.analyze">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="eclipse_object_calisthenics_analyzer.commands.analyze"
            class="com.chairbender.eclipse.object_calisthenics_analyzer.ObjectCalisthenicsAnalyzerHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Object Calisthenics"
               mnemonic="O"
               id="eclipse_object_calisthenics_analyzer.menus.calisthenicsMenu">
            <command
                  commandId="eclipse_object_calisthenics_analyzer.commands.analyze"
                  id="eclipse_object_calisthenics_analyzer.menus.analyze"
                  label="Analyze"
                  mnemonic="A">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="eclipse_object_calisthenics_analyzer"
            name="Calisthenics View">
      </category>
      <view
            category="eclipse_object_calisthenics_analyzer"
            class="com.chairbender.eclipse.object_calisthenics_analyzer.views.CalisthenicsView"
            icon="icons/sample.gif"
            id="com.chairbender.eclipse.object_calisthenics_analyzer.views.CalisthenicsView"
            name="Calisthenics">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.chairbender.eclipse.object_calisthenics_analyzer.views.CalisthenicsView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
